{% assign myVariable = "Hello World" %}
{{ myVariable }}


{%- assign myVariable = "Hello World" -%}
{{ myVariable }}

{% comment %}
This is a comment and should not render
{% endcomment %}


{%  assign myString = "Tbis is a string" %}
{{ myString }}


{%  assign myNumber = 1234567890 %}
{{ myNumber }}

{%  assign myBoolean = true %}
{{ myBoolean }}


{%  assign myNull = null %}
{{ mynull }}

{%  if undefinedVariable == nil %}
  <p>undefined is = to Null</p>
  {%  endif %}

<br>

{{ product.tags.size }}

<br>
{% for tag in product.tags %}
  {{ tag }}
{% endfor %}

<br>

{% comment %}
{{ product.title }}
{% assign html = "<div><p>Hello {{ product.title }}</p></div>" %}
{{ html }}
{% endcomment %}

{% capture html %}
    <div><p>Hello {{ product.title }}</p></div>
{% endcapture %}
{{ html }}

<br>

{% assign myVariable = 11 %}

{%  if myVariable > 10 %}
 <p> {{ myVariable }} is greater than 10 </p>
{% endif %}





