
{% assign myNumber = '10' %}
{% assign myNewNumber = myNumber | plus: 0 %}

{{ myNewNumber }}

{% if myNewNumber > 5 %}
 <p>My numnber is greater than 5</p>
{% endif %}


{{ assign moduloOfMyNumber = myNewNumber | modulo: 2  }}
{%  if moduloOfMyNumner == 0 %}
<p>Even</p>
{% else %}
<p>Odd</p>
{% endif %}

  
<br>
<br>
<br>
<br>
<br>

{% assign myVariable = "Hello World" %}
{{ myVariable }}


{%- assign myVariable = "Hello World" -%}
{{ myVariable }}

{% comment %}
This is a comment and should not render
{% endcomment %}


{%  assign myString = "Tbis is a string" %}
{{ myString }}


{%  assign myNumber = 1234567890 %}
{{ myNumber }}

{%  assign myBoolean = true %}
{{ myBoolean }}


{%  assign myNull = null %}
{{ mynull }}

{%  if undefinedVariable == nil %}
  <p>undefined is = to Null</p>
  {%  endif %}

<br>

{{ product.tags.size }}

<br>
{% for tag in product.tags %}
  {{ tag }}
{% endfor %}

<br>

{% comment %}
{{ product.title }}
{% assign html = "<div><p>Hello {{ product.title }}</p></div>" %}
{{ html }}
{% endcomment %}

{% capture html %}
    <div><p>Hello {{ product.title }}</p></div>
{% endcapture %}
{{ html }}

<br>

{% assign myVariable = 10 %}

{%  if myVariable > 10 %}
 <p> {{ myVariable }} is greater than 10 </p>
  {% else %}
  <p> {{ myVariable }} is not greater than 10 </p>
{% endif %}


{% if myVariable == 10 %}
<p> {{ myVariable }} is = to 10 </p>
{% endif %}

<p>{{ product.title }}</p>
<p>{{ product.tags }}</p>

{% if product.title contains "Snowboard" %}
  <p>This is a snowboard</p>
{% endif %}

{% if product.tags contains "Skis" %}
  <p>This is a ski product!!!</p>
{% endif %}

{% unless product.tags contains "Premium" %}
<p>The product does not contain Premium Tag</p>
{% endunless %}

{%  if product.title contains "Snowboard" and product.price < 40000 %}
<p>This is an affordable Snowboard</p>
{% else %}
  <p>This is an expensive Snowboard</p>
{% endif %}


{% case product.type %}
  {% when "Snowboards" %}
    <p>This is a snowboard Product Type</p>
  {% when "Skis" %}
    <p>This is a ski Product Type</p>
  {% else %}
    <p>Product type unknown</p>
  {% endcase %}


{% for product in collection.products %}
  <p style="
    {% if forloop.first %} 
      color: green 
    {% elsif forloop.last %}
      color: orange
    {% endif %}">
  {{ forloop.index }} - {{ product.title }}
  </p> 
  {% if product.tags.size > 0 %}
  <h2>Tags:</h2>
  <ul>
    {% for tag in product.tags %}
      <li>Product Index: {{ forloop.parentloop.index }} | Tag: {{ tag }}</li>
    {% endfor %}
  </ul>
  {% endif %}
{% endfor %}


{% if collection.products %}
  {% paginate collection.products by 5 %}
  {% for product in collection.products %}
  <p>{{ product.title }}</p>
    {% endfor %}
    {{ paginate | default_pagination }} %}
  {% endpaginate %}
{% endif %}







