<h1>{{ section.settings.text }}</h1>
<h2 style="font-size:{{ section.settings.font_size }}px">{{ section.settings.richtext | upcase }}</h2>

{% if section.settings.show_announcement %}
  <h3 >{{ "The Checkbox is turned on" }}</h3>
{% endif %}

{% for block in section.blocks %}
  
  <img src="{{ block.settings.image-picker | img_url: '100x100' }}"/>
  
  {% endfor %}


{% schema %}
 
  {
    "name": "Jays Custom Section",
    "settings": [
      {
        "type":"text",
        "id": "text",
        "label": "Text Input"
      },
      {
        "type":"richtext",
        "id": "richtext",
        "label": "Rich Text Input"
      },
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show This Announcement",
        "default": true
      },
      {
      "type": "range",
      "id": "font_size",
      "min": 12,
      "max": 48,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 16
    }
    ],

  "blocks": [
    {
      "type":"image",
      "name": "Image Block",
      "settings":[
        {
          "type":"image_picker",
          "label": "Image",
          "id": "image-picker"
        }
      ]
      
    }
  ]
    
}



  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}