
{% assign burton_collection = collections ['burton']%}

<b>{{burton_collection.title}}</b>

<ul>
{% for burton_product in burton_collection.products %}
    <li>

        <img src="{{ burton_product.featured_image | img_url: 'medium' }}" alt="{{ burton_product.featured_image.alt }}">

        {% comment %} {% for image in burton_product.featured_image %}
            <img src="{{ image | img_url: 'medium' }}">
        {% endfor %} {% endcomment %}

        <a href="{{burton_product.url}}">{{burton_product.title}} - {{burton_product.price | money }}
        {% if burton_product.available != true %}
             - (SOLD OUT!)
        {% endif %}
        </a>
    </li>
{% endfor%}
</ul>




{% for product_type in burton_collection.all_types %}
    {{ product_type | link_to_type }}
  {% endfor %}
